<header class="site-header">
  <div class="profile">
    {%- if site.author.avatar -%}
      <a href="{{ '/' | relative_url }}">
        <img src="{{ site.author.avatar | relative_url }}"
            alt="{{ site.author.name }}"
            class="avatar">
      </a>
    {%- endif -%}
    <div class="profile-info">
      <h1 class="site-title">
        <a href="{{ '/' | relative_url }}">
          {{ site.author.name | default: site.title }}
        </a>
      </h1>
    </div>
  </div>
</header>
